body {
    margin: 0;
}

#screen {
    position: relative;
    width: 100vw;
    height: 56.25vw;
}

#game {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

#game_background {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-image: linear-gradient(150deg, #20c903 0%, #09793b 100%);
}

#game_elements {
    
}

/* positioning elements */

#coin1_container {
    position: absolute;
    
    top: 10vw;
    left: 10vw;
}

#coin1_sprite {
    width: 100%;   
}

#coin2_container {
    position: absolute;
    
    top: 15vw;
    left: 40vw;
}

#coin2_sprite {
    width: 100%;
}

#coin3_container {
    position: absolute;
    
    top: 20vw;
    left: 70vw;
}

#coin3_sprite {
    width: 100%;
}

#bomb_container {
    position: absolute;
    
    top: 0vw;
    left: 30vw;
}

#bomb_sprite {
    width: 100%;
}

#heart_container {
    position: absolute;
    
    top: 0vw;
    left: 55vw;
}

#heart_sprite {
    width: 100%;
}

/* Animations */























