body {
  margin: 0;
}

#screen {
  aspect-ratio: 16 / 9;

  display: grid;
  grid-template: 100% / 100%;
}

#game {
  grid-area: 1 / 1;

  display: grid;
  grid-template: 100% / 100%;
}

#game_background {
  grid-area: 1 /1;

  background-image: linear-gradient(150deg, #20c903 0%, #09793b 100%);
}

#game_elements {
  grid-area: 1 /1;
  overflow: hidden;
  position: relative;
}

/* positioning elements */

#coin1_container {
  position: absolute;

  top: 0vw;
  left: 10vw;
}
.falling {
  animation-name: falling;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinte;
}

@keyframes falling {
  0% {
    transform: translate(0, -300%);
  }

  100% {
    transform: translate(0, 400%);
  }
}

.clickcoin {
  animation-name: clickcoin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes zoom_out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.1);
  }
}

.paused {
  animation-play-state: paused;
}

#coin1_sprite {
  width: 100%;
}

#coin2_container {
  position: absolute;

  top: 0vw;
  left: 40vw;
}

#coin2_sprite {
  width: 100%;
}

#coin3_container {
  position: absolute;

  top: 0vw;
  left: 70vw;
}

#coin3_sprite {
  width: 100%;
}

#bomb_container {
  position: absolute;

  top: 0vw;
  left: 30vw;
}

#bomb_sprite {
  width: 100%;
}

#heart_container {
  position: absolute;

  top: 0vw;
  left: 55vw;
}

#heart_sprite {
  width: 100%;
}

/* Animations */
