body {
    margin: 0;
}

#screen {
    aspect-ratio: 16 / 9;

    display: grid;
    grid-template: 100% / 100%;
}

#game {
    grid-area: 1 / 1;
       
    display: grid;
    grid-template: 100% / 100%;
}

#game_background {
    grid-area: 1 /1;
    
    background-image: linear-gradient(150deg, #20c903 0%, #09793b 100%);
}

#game_elements {
     grid-area: 1 /1;
}

/* positioning elements */

#coin1_container {
    position: absolute;
    
    top: 50vw;
    left: 10vw;
}

#coin1_sprite {
    width: 100%;   
}

#coin2_container {
    position: absolute;
    
    top: 35vw;
    left: 40vw;
}

#coin2_sprite {
    width: 100%;
}

#coin3_container {
    position: absolute;
    
    top: 20vw;
    left: 70vw;
}

#coin3_sprite {
    width: 100%;
}

#bomb_container {
    position: absolute;
    
    top: 20vw;
    left: 30vw;
}

#bomb_sprite {
    width: 100%;
}

#heart_container {
    position: absolute;
    
    top: 45vw;
    left: 55vw;
}

#heart_sprite {
    width: 100%;
}

/* Animations */























